<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/verifyEmail.css">

<body>
    <div id="lower-box">
        <div id="upper-box">

            <form action="/password/reset?accessToken=<%=accessToken%>" method="POST">
                <h3>Change Password</h3>    
                <input type="password" name="password" placeholder="New Password" required >   
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <button class="btn waves-effect waves-light" type="submit">
                    <i class="material-icons right">send</i>
                    Submit
                </button>
                
            </form>

        </div>
    </div>
</body>

