@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  background-image: linear-gradient(120deg, #bdf7f7, #caf1f1);
  margin: 0;
  height: min-content; }
  body ::-webkit-scrollbar {
    width: 12px; }
  body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
  body ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  body #lower-div {
    margin-top: 1%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 25%;
    width: 68%;
    min-height: 95vh;
    border-radius: 15px; }
    body #lower-div #upper-div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 4%;
      margin-top: 4%;
      background-color: rgba(255, 255, 255, 0.6);
      width: 99%;
      min-height: 90vh;
      border-radius: 15px; }
      body #lower-div #upper-div h1 {
        font-family: "Lobster";
        color: #108888;
        text-align: center;
        font-size: 2rem; }
      body #lower-div #upper-div #user-chat-box {
        margin-top: -20px;
        height: 70vh;
        width: 80%;
        background-image: linear-gradient(120deg, #bdf7f7, #caf1f1);
        padding: 5px;
        box-shadow: 1px 1px 1px 1px lightgrey; }
        body #lower-div #upper-div #user-chat-box #chat-messages-list {
          list-style: none;
          padding: 10px;
          height: 70%;
          background-image: linear-gradient(120deg, #bdf7f7, #caf1f1);
          overflow: auto; }
          body #lower-div #upper-div #user-chat-box #chat-messages-list .other-message {
            text-align: left;
            padding: 5px; }
            body #lower-div #upper-div #user-chat-box #chat-messages-list .other-message span {
              display: inline-block;
              padding: 15px;
              background-color: #ffa0a0; }
          body #lower-div #upper-div #user-chat-box #chat-messages-list .self-message {
            text-align: right;
            padding: 5px; }
            body #lower-div #upper-div #user-chat-box #chat-messages-list .self-message span {
              display: inline-block;
              padding: 15px;
              background-color: #80c9f3; }
        body #lower-div #upper-div #user-chat-box #chat-message-input-container {
          height: 24%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center; }
          body #lower-div #upper-div #user-chat-box #chat-message-input-container #chat-message-input {
            height: 30%;
            width: 40%;
            border: 2px dotted teal; }
          body #lower-div #upper-div #user-chat-box #chat-message-input-container #chat-message-input::placeholder {
            color: teal; }
